<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>index</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="css/bootstrap.css" rel="stylesheet">
     <link href="css/sunburst.css" rel="stylesheet">
    <!-- <script data-main="js/main.js" src="js/require.js"></script> -->
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/pretty/prettify.js"></script>
			
</head>

<body class="container-fluid">
 	<div class="row">
		<div class="col-md-12">
					<h1><a href="html/v-model.html" target="_blank"># 双向绑定</a></h1>
					<div class="context">
							即数据来源和使用者一起监控数据的表变化并影响彼此、同步数据.<br>
							目前较为流行的前端框架有<code>reactjs</code>、<code>angular</code>和<code>Vue</code><br>
							我们这里用<code>Vue</code>.
					</div>
		</div>
		<div>
			 
				<pre>
					&lt!--html code--&gt;
					&lt;div id="mytest"&gt;
						&nbsp;&nbsp;&lt;input type="text" name="test" v-model="name"&gt;
					&lt;/div&gt;</pre>
			 
			  <pre >
			  //js code
					var vm = new Vue({
						&nbsp;&nbsp;el:'#mytest',
						&nbsp;&nbsp;data:{
						&nbsp;&nbsp;	name:'xubowen'
						&nbsp;&nbsp;}
					});
			</pre>  
		</div>
 	</div>
 	<div class="row">
			<div class="col-md-12">
				<h1><a href="html/vi.html" target="_blank"># 模板封装</a></h1>
				<div class="context">
						把复杂的前端复杂的布局以模块形式封装，达到简化使用、减少阅读困难、方便维护的目的。就像封装jsp标签一样。
				</div> 
			</div>

			<div >
				<div class="col-md-12">
					<h3>& 想到达到下面的效果</h3>
				</div>
				<pre>
					&lt!--html code--&gt;
					&lt;div id="mytest"&gt;
						&nbsp;&nbsp;&lt;input type="text" class="form-control"  name="test" v-model="name"&gt;
					&lt;/div&gt;
					//比如input标签我们只关心name和value属性
					&lt;vi&gt;&lt;/vi&gt;</pre>
					<div class="col-md-12">
						<h3>& setup1 书写组件模板</h3>
					 </div>
					<pre>
					&lt;template id="vi-template"&gt;
					&nbsp;&nbsp;&lt;input type="text" class="form-control" name="{{input.name}}" id="{{input.name}}"
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; v-model="input.value"&gt;
					&lt;/template&gt;</pre>
					<div class="col-md-12">
						<h3>& setup2 注册组件</h3>
					 </div>
						<pre>Vue.component('vi',{
							&nbsp;&nbsp;template:"#vi-template",
							&nbsp;&nbsp;replace:true,
							&nbsp;&nbsp;props:{
							&nbsp;&nbsp;	input:Object
							&nbsp;&nbsp;}
						});</pre>
						<div class="col-md-12">
						<h3>& setup3 解析</h3>
					 </div>
						<pre>
						 var vm = new Vue({
							&nbsp;&nbsp;el:'#mytest',
							&nbsp;&nbsp;data:{
							&nbsp;&nbsp;	obj:{
							&nbsp;&nbsp;&nbsp;&nbsp;		name:'xubowen',
							&nbsp;&nbsp;&nbsp;&nbsp;	value:'11111'
							&nbsp;&nbsp;	}
							},
							//属性变化后实时执行
							computed:{
								&nbsp;&nbsp;toJson:function(){
								&nbsp;&nbsp;	var _input=this.obj,  arr = [];
								&nbsp;&nbsp;	for(var key in _input){
								&nbsp;&nbsp;&nbsp;&nbsp;		arr.push(key+":"+_input[key]);
								&nbsp;&nbsp;	}
								&nbsp;&nbsp;	return arr.join(',');
								&nbsp;&nbsp;}
							}
						}); 
					</pre>
			</div>
 	</div>
 	<div class="row">
		<div class="col-md-12">
			<h1>
				# 这不是复杂了吗？
			</h1>
			<div class="context">
				一眼望去，明显比原来的一行代码复杂了。但是这样能给我们带来什么？<br/>
				1.实现前后端分离，组件写好后只需要关心数据<br/>
				2.一次封装、重复使用<br/>
				3.这样是可以开发webapp的
			</div>
		</div>
 	</div>
 	<div class="row">
 	<div class="col-md-12">
			<h1>
				<a href="html/vform.html"># 表单</a>
			</h1>
			<div class="context">
				模块化组件，构造表单
			</div>
			<div class="col-md-12">
						<h3>& setup1 模板转变模块</h3>
					 </div>
			<pre>
				/**
 * @author xubowen
 * @date    2016-06-26 22:43:46
 * @desp 使用requirejs模块化注册整块input相关样式代码
 */
define(['lib/vue'],function(Vue){
	  Vue.component('vi',{
	&nbsp;&nbsp;template:'&lt;div class="col-md-4"&gt; 
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="form-group"&gt;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;label for="{{input.name}}">{{input.label}}&lt;/label&gt;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="text" class="form-control" name="{{input.name}}"
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id="{{input.name}}"  v-model="input.value"/&gt;
	&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div>&lt;/div&gt;',
	&nbsp;&nbsp;replace:true,
	&nbsp;&nbsp;props:{
		&nbsp;&nbsp;&nbsp;&nbsp;input:Object
	&nbsp;&nbsp;}
	});
	return Vue;
});			</pre>
<div class="col-md-12">
	<h3>& setup2 准备一个form 加入我们的vi标签</h3>
 </div>
<pre>
&lt;!--目前只封装了一种--&gt; 
&lt;form id="mytest"&gt; 
    &lt;vi  v-for="input in inputs" :input="input"  &gt;&lt;/vi&gt;
&lt;/form&gt;
</pre>
<div class="col-md-12">
	<h3>& setup3 解析</h3>
 </div>
 <pre>
&lt;script type="text/javascript"&gt; 
require(['app/vi'], function(Vue){
&nbsp;&nbsp;var arr = [];
&nbsp;&nbsp;for(var i =0;i<10;i++){
&nbsp;&nbsp;arr.push({
&nbsp;&nbsp;&nbsp;&nbsp;label:'name'+i,
&nbsp;&nbsp;&nbsp;&nbsp;name:'nameprop'+i,
&nbsp;&nbsp;&nbsp;&nbsp;value:'1000'+i
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});
&nbsp;&nbsp;}
&nbsp;&nbsp;var v = new Vue({
&nbsp;&nbsp;&nbsp;&nbsp;el: '#mytest',
&nbsp;&nbsp;&nbsp;&nbsp;data: {
&nbsp;&nbsp;&nbsp;&nbsp;inputs:arr
&nbsp;&nbsp;}  
&nbsp;&nbsp;});
});
&lt;/script&gt;</pre>
	</div>
 	</div>
</body>
<script>
 
</script>

</html>
